@import "../../variables/variables";
@import "../../variables/resets";

@mixin loader($height) {
    display: flex;
    height: $height;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

// .products {

    .loader-spinner {
        @include loader(90vh);
        margin: auto;
    }

    .categories_products {
        display: flex;
        width: 85%;
        justify-content: space-between;
        margin: auto;
        @include tab {
            display: block;
            width: 90%;
        }
        .categories {
            margin-top: 10px;
            ul {
                border-left: 2px solid #e5e7eb;
                margin-top: 5px;
                @include tab {
                    display: flex;
                }
                li{
                    list-style: none;
                    padding: 5px;
                    padding-left: 10px;
                    cursor: pointer;
                }
                .all,
                .men,
                .women,
                .kids {
                    color: rgb(3, 3, 73);
                    font-weight: 700;
                }
            }
        }
        .products-containers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .products-wrapper {
                display: grid;
                grid-template-columns: auto auto auto;
                margin: auto;
                @include tab {
                    grid-template-columns: auto auto;
                }
                @include mobile {
                    grid-template-columns: auto;
                }
            }
            .products-pagination {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 30px auto;
            }
        }
    }
// }