@import "../variables";
@import "../mixins";

@mixin loader($height) {
  display: flex;
  height: $height;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  @include loader(90vh);
  margin: auto;
}

.categories_products {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;

  @include respondMax("desktop") {
    width: 85%;
  }
  @include respondMax("lg-tablet") {
    display: block;
    width: 90%;
  }

  .categories {
    margin-top: 10px;
    ul {
      border-left: 2px solid #e5e7eb;
      margin-top: 5px;
      @include respondMax("lg-tablet") {
        display: flex;
      }
      li {
        list-style: none;
        padding: 5px;
        padding-left: 10px;
        cursor: pointer;

        &:hover {
          color: #ff2f2f;
        }
      }
      .all,
      .men,
      .women,
      .kids {
        color: rgb(3, 3, 73);
        font-weight: 700;
      }
    }
  }
  .products-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .products-wrapper {
      display: grid;
      grid-template-columns: auto auto auto;
      margin: auto;
      @include respondMax("lg-tablet") {
        grid-template-columns: auto auto;
      }
      @include respondMax("mobile") {
        grid-template-columns: auto;
      }
    }
    .products-pagination {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 30px auto;
    }
  }
}
