@import "../../variables/variables";
@import "../../variables/resets";
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.Logo {
    h1 {
        font-weight: map-get($font-weights, bold);
        font-size: 35px;
        @include tab {
            font-size: 30px;
        }
        @include mobile {
            font-size: 26px;
        }
        cursor: pointer;
        color: $primary-color;
        font-family: 'Bakbak One', cursive;
    
        .ville {
            color: rgb(3, 3, 73);
        }
    }
}