@import "../../variables/variables";
@import "../../variables/resets";


@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.wrapper {
    width: 70%;
    @include mobile {
        width: 80%;
    }
    margin: 30px auto;
}
