@import "../variables";
@import "../mixins";

.wrapper {
  width: 55%;
  @include respondMax("desktop") {
    width: 70%;
  }
  @include respondMax("mobile") {
    width: 80%;
  }
  margin: 30px auto;
}
