@import "../../variables/variables";
@import "../../variables/resets";


@mixin flexCenter($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}


.navbar-header {
    background-color: $primary-color;
    color: #fff;
    height: 45px;
    @include flexCenter(center);

    #{&}__p {
        font-weight: map-get($font-weights, regular);
        .p-span {
            font-weight: map-get($font-weights, bold);
            color: #D21C23;
        }
    }
}

.navbar-cover {
    #{&}__wrapper {
        width: 95%;
        margin: auto;
        height: 80px;
        @include flexCenter(space-between);

        .navbar-cart {
            width: 220px;
            @include flexCenter(space-between);

            .login-register {
                cursor: pointer;
                color: $primary-color;

                &:hover {
                    color: #FF2F2F;
                }
            }
        }
        h1 {
            font-weight: map-get($font-weights, bold);
            font-size: 35px;
            cursor: pointer;
            color: $primary-color;
            .ville {
                color:rgb(3, 3, 73);
            }
        }
        input {
            padding: 6px;
            width: 250px;
            border: none;
            border-bottom: 2px solid $primary-color;
            outline: none;
        }
    }
    hr {
        width: 95%;
        margin: auto;
    }
    
}