@import "../variables";

.home {
  position: relative;

  .home-cart-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    width: 100%;
    transition: 0.2s ease-in-out;
    min-height: 100%;

    .end {
      display: flex;
      justify-content: flex-end;
    }
  }
}
