* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.reg-page .reg {
  display: flex;
  position: relative;
}
.reg-page .reg .reg-img-container {
  position: relative;
  width: 50%;
  height: 100vh;
}
@media (max-width: 768px) {
  .reg-page .reg .reg-img-container {
    width: 100%;
  }
}
.reg-page .reg .reg-img-container .reg-img-cover {
  position: absolute;
  background-color: rgba(173, 117, 32, 0.356);
  width: 100%;
  height: 100%;
}
.reg-page .reg .reg-img-container .reg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reg-page .reg .reg-img-container .reg-img-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgb(182, 100, 114);
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  transition: 2s opacity linear;
}
.reg-page .reg .reg-form-container {
  display: flex;
  height: 100vh;
  width: 50%;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 768px) {
  .reg-page .reg .reg-form-container {
    position: absolute;
    width: 80%;
    height: 70vh;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
  }
}
.reg-page .reg .reg-form-container form {
  margin: auto;
  width: 70%;
}
@media (max-width: 640px) {
  .reg-page .reg .reg-form-container form {
    width: 85%;
  }
}
.reg-page .reg .reg-form-container form h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #272727;
  font-weight: 700;
  text-align: center;
}
.reg-page .reg .reg-form-container form .input-wrap {
  margin-bottom: 2.3rem;
}
.reg-page .reg .reg-form-container form .input-wrap input {
  display: block;
  height: 3.2rem;
  text-indent: 1.2rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 2px solid rgb(194, 187, 187);
}
.reg-page .reg .reg-form-container form .reg-password {
  position: relative;
  display: block;
}
.reg-page .reg .reg-form-container form .reg-password .shown-password {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  font-size: 1.5rem;
  height: 100%;
  cursor: pointer;
  color: rgb(179, 179, 179);
  background-color: transparent;
  border: none;
  transition: 0.5s all ease;
  transform: translateY(-30%);
}
.reg-page .reg .reg-form-container form .reg-password .shown-password:hover {
  color: rgb(148, 148, 148);
}
.reg-page .reg .reg-form-container form .reg-btn {
  background-color: #272727;
  color: #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 15px auto;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}
.reg-page .reg .reg-form-container form .reg-btn:hover {
  background-color: rgb(51, 49, 49);
}
.reg-page .reg .reg-form-container form .account {
  font-weight: 600;
}
.reg-page .reg .reg-form-container form .account span {
  font-weight: 700;
  cursor: pointer;
}
.reg-page .reg .reg-form-container form .account span:hover {
  color: #D21C23;
}

.errorMsg {
  color: rgb(219, 37, 37);
}

.disabled-btn {
  background-color: #777;
  color: #fff;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 15px auto;
  border-radius: 7px;
  font-weight: 700;
  cursor: default;
}/*# sourceMappingURL=reg.css.map */