@import "../variables";
@import "../mixins";

.activeimage-container {
  .activeimage-wrapper {
    max-width: 110px;
    border: solid yellow 2px;
    cursor: pointer;
    @include respondMax("mobile") {
      width: 70px;
    }

    .image {
      width: 100%;
    }
  }

  .image-wrapper {
    max-width: 110px;
    cursor: pointer;
    @include respondMax("mobile") {
      width: 70px;
      margin: 0 3px;
    }

    .image {
      width: 100%;
    }
  }
}
